.yaposi-img{
    color: #666;
    position: fixed;
    z-index: 7;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #fff;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-730px);
    transition: transform 0.2s ease;
    height: 250px;
    overflow: hidden;
    width: 350px;
    border:1px solid black;
    
    display: none;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
}
/*spinning*/
.yaposi-img .yaposi-img-actions .insert{
    visibility: hidden;
}
.yaposi-img .yaposi-img-uploading{
    animation:yaposi-spinning-rotate 1s linear infinite;
    transform-origin:center center;
    width: 40%;
}
.yaposi-img .yaposi-img-uploading .loader-path{
    stroke-dasharray:150,200;
    stroke-dashoffset:-10;
    animation:yaposi-spinning-dash 2s ease-in-out infinite;
    stroke:#70c542;
    stroke-linecap: round;
}
@keyframes yaposi-spinning-rotate{
    100%{transform:rotate(360deg);}
}
@keyframes yaposi-spinning-dash{
    0%{stroke-dasharray:1,200;stroke-dashoffset:0;}
    50%{stroke-dasharray:89,200;stroke-dashoffset:-35;}
    100%{stroke-dasharray:89,200;stroke-dashoffset:-124;}
}
.yaposi-img input{
    display: none;
}
.yaposi-img-dropper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px dashed black;
    margin: 7px;
}
.yaposi-img-state{
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.yaposi-img-preview{
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.yaposi-img-preview img{
    width: 50%;
}
.yaposi-img-actions{
    display: flex;
    justify-content: space-between;
}
.yaposi-img-dropper svg.dragover{
    fill:red;
}
.yaposi-img svg{
    width: 50%;
}
.yaposi-img-dropper.dragover{
    border: 1px dashed red;
}
.yaposi-img-dropper svg:active{
    transform: scale(0.95)
}
.yaposi-img{
    width: 350px;
}
.yaposi-img-cross{
    display: none;
}